body {
  height: 184%;
}

#face {
max-width:55%;
max-height:55%;
position: absolute;
top: 55%;
left: 35%;
transform: translate(-50%, -50%);
}

#genova {
max-width:66%;
max-height:66%;
position: absolute;
top: 135%;
left: 75%;
transform: translate(-50%, -50%);
}

#line2  {
  max-width:10%;
  max-height:10%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 13%;
  left: 90%;
}


#description {
  position: absolute;
  top: 87%;
  left:16%;

}
