
.hide {
  opacity:100%;
  }


#road {
  max-width:57%;
  max-height:57%;
  position: absolute;
  top:130%;
  left: 31%;
  transition: 1s;
}




#sea {
  max-width:60%;
  max-height:60%;
  transform: translate(-50%, -50%);
  position: absolute;
  top:55%;
  left: 50%;
}

#welcome {
  position: absolute;
  left: 47%;
  top: 105%;
}

#quote {
  max-width:17%;
  max-height:17%;
  transform: translate(-50%, -50%);
  position: absolute;
  top:87%;
  left:70%;
}

#pen {
  max-width:10%;
  max-height:10%;
  transform: translate(-50%, -50%);
  position: absolute;
  top:32%;
  left:31%;
  animation: penna 5s linear infinite;
}



#pen2 {
  max-width:10%;
  max-height:10%;
  position: absolute;
  top:141%;
  left:66%;
}

#cloud {
  max-width:12%;
  max-height:12%;
  position: absolute;
  top:145%;
  left:0%;
  animation: nuvola 18s linear infinite;
}


@keyframes nuvola {
  from {top:145%; left: 20%}
  to {top:145%; left: 75%}

}


@keyframes penna {
  0% {transform: translate(-50%, -50%) rotate(0deg); left: 31%;}
  25% {transform:translate(-50%, -50%) rotate(5deg); left: 32%;}
  50% {transform:translate(-50%, -50%) rotate(0deg); left: 33%;}
  75% {transform:translate(-50%, -50%) rotate(-5deg); left: 32%;}
  100% {transform:translate(-50%, -50%) rotate(0deg); left: 31%;}


}
