body {
  height: 225%;
}

.foto {
  max-width:50%;
  max-height:50%;
  position: absolute;
  left: 32.5%;
}

.foto:hover {
  opacity: 0.5;
  transition: 1s;
  cursor: pointer;
  }

.workphoto {
  position: absolute;
}



#x {
position: fixed;
font-family: "Quicksand", sans-serif;
background: url("https://raw.githubusercontent.com/diegocsandrim/sharp-test/master/output1.png");
style: transparent;
top: 18%;
left: 23%;
color: white;
border: none;
font-size: 2.2em;
cursor: pointer;
}

#x:hover {
  opacity: 1;
}

.buttonfadein {
  opacity: 0.7;
}

#line  {
  max-width:10%;
  max-height:10%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 13%;
  left: 68%;
}



#book {
  position: absolute;
  top:107%;
}

#booktext {
  position: absolute;
  top:157%;
  left:32.5%;
}

#cards {
  position: absolute;
  top:37%;
}

#cardstext {
  position: absolute;
  top:87%;
  left:32.5%;
}

#logo {
max-width:20%;
max-height:20%;
top:185%;
left:32.5%;
}

#logotext {
  position: absolute;
  top:202%;
  left:32.5%;
  }

#des {
  transform: translate(-50%, -50%);
  position: absolute;
  color: dimgray;
  top:25%;
  left:50%;
    }

.hide {
  position: absolute;
}
